.map-container{
    position: fixed;
    left: 50%; 
    margin-left: -300px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    
}

.map-logos>a>img{
    position: absolute;
    width: 60px;
    border: 2px;
    border-style: solid;
    border-color: rgb(48, 0, 179);;
    margin-left: -30px;
    margin-top: -30px;
}